@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

:root {
  --primary-color: #E63946; /* Red Tomato */
  --secondary-color: #F1FAEE; /* Lightest Blue/Almost White */
  --accent-color: #F4A261;  /* Sandy Brown/Orange */
  --text-color: #1D3557;    /* Dark Blue */
  --background-color: #FFFFFF; /* White */
  --border-color: #A8DADC;   /* Light Blue/Aqua */
  --tomato-color: tomato; /* Adding the existing tomato color as a variable */
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Outfit;
  scroll-behavior: smooth;
}
body{
  min-height: 100vh;
}
a{
  text-decoration: none;
  color: inherit;
}
.app{
  width: 80%;
  margin: auto;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    }
    100% {
      opacity: 1;
      }
}